@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.height-full{height: 100vh;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {background: #f1f1f1; }
::-webkit-scrollbar-thumb:hover { background: #f1f1f1; }
.flex-005{flex: 0.05;}

.contact-box,.flex-03{flex: 0.3;}
.content-box,.flex-065{flex: 0.65;}
.flex-035{flex: 0.35;}
.flex-01{flex: 0.1;}
.flex-08{flex: 0.8;}
.flex-1{flex: 1;}

.border-bottom{
    border-bottom: 2px solid black;
}
.rounded-icon{
    border-radius: 50%;
    padding: 5px 25px;
}
#sentIcon{
    width: 100%;
    height: 100%;
}
#seenIcon{
    width: 100%;
    height: 100%;
    color: blue;
}
.box-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-shadow-2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light{
    background-color: rgb(229 231 235);
    color: black;
    transition: background-color 1s;
}
.dark{
    background-color: #000000;
    color: white;
    transition: background-color 1s;
}
.App{
    cursor: url('./assets/cursor.png'), auto;
}
/* .hover-pointer:hover{
    cursor: url('./assets/pointer.jpg'),auto;
} */


.file-type-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}
  
  .file-type-dialog button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .file-type-dialog button:hover {
    background-color: #ccc;
  }
  .overlay {
    position: absolute;
    top: 40%;
    left: auto;
    margin: auto;
    /* width: auto;
    height: auto; */
    display: none;
    z-index: 1;
  }
  
  .camera-overlay, .file-overlay {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  
  .camera-overlay,.file-overlay {
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }